/* styles.css */
body {
    margin: 0;
    font-family: 'Verdana';
    height: 100vh;
    /* Full height for scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.header {
    height: 30%;
    /* Keep this empty space at the top */
    background-color: rgba(0, 0, 0, 1);
    ;
}

.info-img {
    width: 249px;
    height: 249px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.header1 {
    height: 249px;
    /* Keep this empty space at the top */
    background-color: rgba(255, 0, 0, 0.7);
    ;
}
.info-logo{
    width: 245px;
    height: 75px;
}

/* Hardcoded for landscape (1920x1080) */
@media screen and (min-width: 1920px) and (max-height: 1080px) {
    .container {
        background-image: url('background_landscape.png');
        padding-left: 10%;
        /* 10% empty space on the left */
        padding-right: 10%;
        /* 10% empty space on the right */
    }

    .header {
        height: 18%;
        /* Keep this empty space at the top */
        background-color: rgba(0, 0, 0, 0.7);
        ;
    }

    .header1 {
        height: 320px;
        /* Keep this empty space at the top */
        background-color: rgba(255, 0, 0, 0.7);
        ;
    }

    .results-container {
        height: 69%;
        /* Adjusted height to fill space */
        overflow: hidden;
        /* Hide overflow */
        width: 100%;
    }

    .info-img {
        width: 350px;
        height: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .info-logo{
        width: 200px;
        height: 100px;
    }
    .info-row {
        display: flex;
        /* Use flexbox for layout */
        justify-content: center;
        /* Center content */
        align-items: center;
        /* Center vertically */
        width: 96%;
        /* Make the row wider */
    
        color: rgb(250, 250, 250);
        /* White text color */
        padding: 10px;
        /* Padding for content */
        border-radius: 10px;
        /* Rounded corners */
        margin: 0 auto 0 auto;
        /* Center the row with space below it */
        font-size: 26px;
        /* Font size */
    
        white-space: nowrap;
        /* Prevent text from wrapping */
        overflow: hidden;
        /* Hide overflow */
        text-overflow: ellipsis;
        /* Add ellipsis for overflow text */
        position: relative;
    
    }
}

/* Hardcoded for portrait (1080x1920) */
@media screen and (max-width: 1080px) and (min-height: 1920px) {
    .container {
        background-image: url('background_portrait.png');
        padding-left: 3%;
        /* 3% empty space on the left */
        padding-right: 3%;
        /* 3% empty space on the right */
    }

    .header {
        height: 12%;
        /* Keep this empty space at the top */
    }

    .header1 {
        height: 249px;
        /* Keep this empty space at the top */
        background-color: rgba(255, 0, 0, 0.7);
        ;
    }

    .results-container {
        height: 82%;
        /* Adjusted height to fill space */
        overflow: hidden;
        /* Hide overflow */
        width: 100%;
        margin-top: 20;
        /* Ensure no additional space above the table */
    }

    .info-img {
        width: 404px;
        height: 404px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .info-logo{
        width: 245px;
        height: 75px;
    }
    .info-row {
        display: flex;
        /* Use flexbox for layout */
        justify-content: center;
        /* Center content */
        align-items: center;
        /* Center vertically */
        width: 98%;
        /* Make the row wider */
    
        color: rgb(250, 250, 250);
        /* White text color */
        /* Rounded corners */
        margin: 0 auto 0 auto;
        /* Center the row with space below it */
        font-size: 26px;

        white-space: nowrap;
        /* Prevent text from wrapping */
        overflow: hidden;
        /* Hide overflow */
        text-overflow: ellipsis;
        /* Add ellipsis for overflow text */
        position: relative;
    
    }

}

/* Track and Car Info Row */
.info-row {
    display: flex;
    /* Use flexbox for layout */
    justify-content: center;
    /* Center content */
    align-items: center;
    /* Center vertically */
    width: 98%;
    /* Make the row wider */

    color: rgb(250, 250, 250);
    /* White text color */
    padding: 10px;
    /* Padding for content */
    border-radius: 10px;
    /* Rounded corners */
    margin: 0 auto 0 auto;
    /* Center the row with space below it */
    font-size: 26px;
    /* Font size */

    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
    position: relative;

}



.value {
    background-color: transparent;
    /* Remove background color */
    padding: 10px 20px;
    /* Add padding for spacing */
    border-radius: 10px;
    /* Rounded corners */
    text-align: center;
    /* Center the text */
    border: 2px solid rgba(255, 255, 255, 0.3);
    /* Light border for subtle separation */
    flex: 1;
    /* Allow the value div to grow */
    min-width: 350px;
    /* Set a minimum width for better layout */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
}

.separator {
    margin: 0 10px;
    /* Space around the separator */
    font-size: 30px;
    /* Match font size */
    color: rgb(255, 255, 255);
    /* White color for separator */
}

/* Result Rows */
/* Result Rows */
.result-table {
    width: 100%;
    border-collapse: collapse;

}



.result-row {
    background-color: rgb(255, 255, 255);
    /* Solid white background for better contrast */
    display: flex;
    /* Use flexbox for the row */
    width: 100%;
    /* Slightly smaller width to show shadow on sides */
 
}

.result-table td, .result-table th {
    padding: 8px;
}

.result-table tr:nth-child(even){background-color: #f2f2f2;}
.result-table tr:hover {background-color: #ddd;}


.position,
.name,
.time {
   
    /* Add rounded corners to individual columns */

    /* Ensure text doesn't spill over the rounded corners */
    background-color: 0px 12px 50px -5px rgba(255, 0, 0, 0.34);
    padding: 25px 0px;
}

.position {
 
    color: rgb(0, 0, 0);
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
   
    color: black;
    flex: 3.5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-transform: uppercase;
}

.time {
   
    color: rgb(0, 0, 0);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.results-container {
    overflow: hidden;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    
    text-align: left;
}

.value {
    padding-left: 10px;
    /* Add some padding to the left */
}

.gold {
    background-color: gold;
    color: black;
    /* Adjust text color if needed */
}

.silver {
    background-color: silver;
    color: black;
    /* Adjust text color if needed */
}

.bronze {
    background-color: #cd7f32;
    /* Bronze color */
    color: white;
    /* Adjust text color if needed */
}